<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        The Awesome Photography Company | +91 9957733381 |<a (click) ="aboutClicked()"> About (Click Here)</a>
      </p>
    </div>
  </div>
</footer>

<div *ngIf="showAbout">
<h1>The Awesome Photography Company</h1>
<div class="date">Since 1996</div>
<p>a northeastern Photography corporation headquartered in Shillong specializing in various shoots, organizing events and giving travel tours. </p>
</div>
